htsjdk.iws
.command_tmp
atlassian-ide-plugin.xml
/htsjdk.version.properties
/test-output/
.DS_Store

#intellij
.idea/
src/htsjdk.iml
*.iml
*.ipr
*.iws
/out/

#gradle stuff
/.gradle/
/build/

#jenv
.java-version

#japi-compliance-checker
/compat_reports/
/bin/
