language: java
dist: trusty
sudo: true
services:
  - docker
before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.m2
env:
  global:
    - HTSJDK_SAMTOOLS_BIN=/usr/bin/samtools
    - HTSJDK_BCFTOOLS_BIN=/usr/bin/bcftools
jdk:
  - oraclejdk8
  - openjdk8
  - openjdk11
matrix:
  fast_finish: true
  allow_failures: 
     - env: TEST_TYPE=EXTERNAL_APIS
     - env: TEST_TYPE=FTP
  include:
     - jdk: oraclejdk8
       env: TEST_TYPE=EXTERNAL_APIS
     - jdk: oraclejdk8
       env: TEST_TYPE=FTP
     - jdk: openjdk8
       env: SPOT_BUGS=true

before_install:
  - scripts/install-samtools.sh
  - scripts/install-bcftools.sh
  - scripts/htsget-scripts/start-htsget-test-server.sh

script:
  - if [[ $SPOT_BUGS == "true" ]]; then
      ./gradlew spotBugsMain spotBugsTest;
    elif [[ $TEST_TYPE == "FTP" ]]; then
        ./gradlew testFTP jacocoTestReport;
    elif [[ $TEST_TYPE == "EXTERNAL_APIS" ]]; then
        ./gradlew testExternalApis jacocoTestReport;
    else
        ./gradlew test jacocoTestReport;
    fi

after_success:
  - bash <(curl -s https://raw.githubusercontent.com/broadinstitute/codecov-bash-uploader/main/codecov-verified.bash)
  - echo "TRAVIS_BRANCH='$TRAVIS_BRANCH'";
    echo "JAVA_HOME='$JAVA_HOME'";
    if [ "$TRAVIS_BRANCH" == "master" ]; then
        if [[ $JAVA_HOME = *java-8-openjdk* ]]; then
            ./gradlew publish;
        fi;
    fi;
