---
---
<!doctype html>
<html>
	{% include head.html title="Building HTSJDK From Source" %}
	<body>
		<div class="wrapper">
			{% include header.html %}
			<h2>Building HTSJDK From Source</h2>

			<section>
			<p>In order to build the HTSJDK jar from sources, you must
			have <a href="http://ant.apache.org">Ant</a>
			installed on your system.</p>

			</section>
				
			<a id="Prerequisites"/>
			<h3>Java version</h3>
			<section>

			<p>Building HTSJDK library requires Java 1.6.  It may
			be built with the Java 1.7 compiler, but for maximum compatibility with Java 1.6 JVM,
			you should compile using the Java 1.6 libraries.  This can be done in one of the
			following ways:</p>
			<ul>
				<li>Set an environment variable JAVA6_HOME that points to your Java 1.6
				installation.</li>
				<li>Pass to ant the argument -Djava6.home=<path> where <path> is the directory of your Java
				1.6 installation.</li>
			</ul>
			<p>If you do not have Java 1.6 installed on your build machine, you may supply the
			location of you Java 1.7 installation instead, but there may be problems running code
			compiled this way on Java 1.6 JVMs.
			</p>
			</section>

			<a id="BuildingHtsJdk"/>
			<h3>Building HTSJDK</h3>
			<section>

			<p>To build the HTSJDK jarfile, change to the root of the htsjdk source tree, and run the
			following command:</p>
<pre>ant htsjdk-jar</pre>
			<p>This will create a jarfile in the dist subdirectory named htsjdk-&lt;version&gt;.jar.</p>
			</section>
		</div>
		{% include footer.html %}
	</body>
</html>
