---
---
<!doctype html>
<html>
	{% include head.html title="Building HTSJDK From Source" %}
	<body>
		<div class="wrapper">
			{% include header.html %}
			<h2>Building HTSJDK From Source</h2>

			<section>
			<p>In order to build the HTSJDK jar from sources, you must
			have <a href="http://ant.apache.org">Ant</a>
			installed on your system.</p>

			</section>
				
			<a id="Prerequisites"/>
			<h3>Java version</h3>
			<section>

			<p>Building HTSJDK library requires Java 1.8.
			</p>
			</section>

			<a id="BuildingHtsJdk"/>
			<h3>Building HTSJDK</h3>
			<section>

			<p>To build the HTSJDK jarfile, change to the root of the htsjdk source tree, and run the
			following command:</p>
<pre>ant htsjdk-jar</pre>
			<p>This will create a jarfile in the dist subdirectory named htsjdk-&lt;version&gt;.jar.</p>
			</section>
		</div>
		{% include footer.html %}
	</body>
</html>
