			 <header>
            <h1>Htsjdk</h1>
            <p><a href="https://travis-ci.org/samtools/htsjdk"><img src="https://travis-ci.org/samtools/htsjdk.svg?branch=master" alt="Build Status"></a></p>
            <p>A Java API for high-throughput sequencing data (HTS) formats.</p>
            <p class="view"><a href="https://github.com/samtools/htsjdk">View the Project on GitHub <small>samtools/htsjdk</small></a></p>
            <ul>
				<li><a href="https://github.com/samtools/htsjdk/releases/latest">Latest <strong>Release</strong></a></li>
                <li><a href="https://github.com/samtools/htsjdk/zipball/master">Download <strong>ZIP File</strong></a></li>
                <li><a href="https://github.com/samtools/htsjdk/tarball/master">Download <strong>TAR Ball</strong></a></li>
                <li><a href="https://github.com/samtools/htsjdk">View On <strong>GitHub</strong></a></li>
            </ul>
            </header>

