# This is a github actions workflow which runs htsjdk tests and spotbugs.

name: Java CI with Gradle
on: [pull_request, workflow_dispatch]

jobs:
  test:
    env:
      HTSJDK_SAMTOOLS_BIN: /usr/bin/samtools
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 8, 11 ]
        experimental: [false]
#        include:
#          - java: 17
#            experimental: true
      fail-fast: false
    continue-on-error: ${{ matrix.experimental }}
    name: Java ${{ matrix.Java }} build and test
    steps:
      - uses: actions/checkout@v2
      - name: Set up java ${{ matrix.Java }}
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.Java }}
          distribution: 'adopt'
          cache: gradle
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Compile with Gradle
        run: ./gradlew compileJava
      - name: Install Samtools
        run: scripts/install-samtools.sh
      - name: Start the htsget server
        run: scripts/htsget-scripts/start-htsget-test-server.sh
      - name: Run tests
        run: ./gradlew test jacocoTestReport
      - name: Upload to codecov
        run:  bash <(curl -s https://raw.githubusercontent.com/broadinstitute/codecov-bash-uploader/main/codecov-verified.bash)
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: test-results-${{ matrix.Java }}
          path: build/reports/tests
  testExternalApis:
    continue-on-error: true
    runs-on: ubuntu-latest
    name: Tests that require external APIs
    steps:
      - uses: actions/checkout@v2
      - name: Set up java 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
          cache: gradle
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Compile with Gradle
        run: ./gradlew compileJava
      - name: Run tests
        run: ./gradlew testFTP jacocoTestReport
      - name: Upload to codecov
        run: bash <(curl -s https://raw.githubusercontent.com/broadinstitute/codecov-bash-uploader/main/codecov-verified.bash)
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: test-results-external-apis
          path: build/reports/tests
  testFTP:
    continue-on-error: true
    runs-on: ubuntu-latest
    name: FTP tests
    steps:
      - uses: actions/checkout@v2
      - name: Set up java 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
          cache: gradle
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Compile with Gradle
        run: ./gradlew compileJava
      - name: Run tests
        run: ./gradlew testFTP jacocoTestReport
      - name: Upload to codecov
        run: bash <(curl -s https://raw.githubusercontent.com/broadinstitute/codecov-bash-uploader/main/codecov-verified.bash)
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: test-results-ftp
          path: build/reports/tests
  spotBugs:
    runs-on: ubuntu-latest
    name: SpotBugs
    steps:
      - uses: actions/checkout@v2
      - name: Set up java 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
          cache: gradle
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Compile with Gradle
        run: ./gradlew spotBugsMain spotBugsTest
      - name: Upload spotBugs Report
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: spotBugs-Report
          path: build/reports/spotbugs



